.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  position: relative;
  margin-bottom: 8%;
}

.text {
  font-size: 15px;
  font-weight: bold;
  color: black !important;
}

.img-container {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 10%;
}

.img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin-top: 20%;
}

.arrow-icons-container {
  align-items: center;
  justify-content: center;
}

.grey-dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #999999;
  margin-top: 3px;
}

.text-content {
  display: flex;
  flex-direction: column;
  
}


.p_name{
  font-size: 13px;
  font-weight: bold;
}