.carousel .thumb img {
  height: 40px;
  transition: transform .5s ease;
}

.carousel .thumb:hover {
  border: none !important;
}

.carousel .thumb:hover img {
  height: 55px;
  transform: scale(1.5);
}

.carousel .thumb.selected img{
  height: 55px;
  transform: scale(1.5);
  border: none !important;
}

.carousel .thumb{
  border: none !important;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-slide img {
  width: 100%;
  height: 600px;
}



/* for carousel of images problem on vehicles*/
.carousel .slide {
  text-align: justify;
}

.carousel .slide img {
  position: absolute;
  /* object-fit: contain; */
  object-fit: scale-down;
  pointer-events: all;
}



.image-gallery-icon {
  padding: 0;
}

.image-gallery-icon:focus {
  background-color: transparent;
}

.image-gallery-content.left .image-gallery-slide .image-gallery-image,
.image-gallery-content.right .image-gallery-slide .image-gallery-image {
  max-height: 85vh;
  position: relative;
  object-fit: scale-down;
}



.mobilePriceSec{
  display: block;
  border-radius: 5px;
  box-shadow: 0px 2px 4.8px 0.2px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding-left:4%;
  padding-right: 4%;
}

.mobile-vechileName{
  font-size: 18px;
  font-weight: bold;
}