.carousel .thumb img {
  height: 40px;
  transition: transform .5s ease;
}

.carousel .thumb:hover {
  border: none !important;
}

.carousel .thumb:hover img {
  height: 55px;
  transform: scale(1.5);
}

.carousel .thumb.selected img{
  height: 55px;
  transform: scale(1.5);
  border: none !important;
}

.carousel .thumb{
  border: none !important;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-slide img {
  width: 100%;
  height: 600px;
}



/* for carousel of images problem on vehicles*/
.carousel .slide {
  text-align: justify;
}

.carousel .slide img {
  position: absolute;
  /* object-fit: contain; */
  object-fit: scale-down;
  pointer-events: all;
}



.image-gallery-icon {
  padding: 0;
}

.image-gallery-icon:focus {
  background-color: transparent;
}

.image-gallery-content.left .image-gallery-slide .image-gallery-image,
.image-gallery-content.right .image-gallery-slide .image-gallery-image {
  max-height: 85vh;
  position: relative;
  object-fit: scale-down;
}



.mobilePriceSec{
  display: block;
  border-radius: 5px;
  /* box-shadow: 0px 2px 4.8px 0.2px rgba(0, 0, 0, 0.2); */
  background-color: #ffffff;
  padding-left:4%;
  padding-right: 4%;
}

.mobile-vechileName{
  font-size: 18px;
  font-weight: bold;
}


.horizontalLines{

  width: 274px;
  height: 1px;
  margin: 7px 18px 8px 16px;
  background-color: #232b2b;
}

.cardText{
  margin-left: 7px;
}



.vehicleDetails .mobilePriceSec { text-align: justify; padding: 5px}
.vehicleDetails .mobilePriceSec p.price { font-size: 16px; color: #ff0000; margin: 0; font-weight: bold; padding: 0 0 5px; }
.vehicleDetails .mobilePriceSec p.price strong { font-family: RupeeForadian; font-size: 15px;  }
.vehicleDetails .mobilePriceSec span { display: inline-block; font-size: 13px; color: #ff0000; margin: 0;padding: 0px 5px 0px 5px;}
.vehicleDetails .mobilePriceSec span.del { font-size: 10px; color: black; text-decoration: line-through;margin-left: 40px; }
.vehicleDetails .mobilePriceSec span.del strong { font-family: RupeeForadian; font-size: 15px; }
.vehicleDetails .mobilePriceSec span.mobilesave { font-size: 18px; color: #fff; background: #000; border-radius: 4px; font-weight: bold; }