.container {
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.img-container-web{
  height: 100%;
  width: 100%;
   object-fit: contain;
}

.vehicleData-img-container{
    width: 100%;
    height: 43rem;
    object-fit: contain;
}