.text{
    color:white 
}

.links{
    margin-top: 3%;
    font-family:Montserrat, sans-serif
}

.horizontal{
    width:60%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.footerIcons{
    margin-left: 10px;
}