.text{
    color:white 
}

.links{
    margin-top: 3%;
    font-family:Montserrat, sans-serif
}

.horizontal{
    width:60%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.footerIcons{
    margin-left: 10px;
}


.mobilefooter {
    min-height: 208px;
    background-color: #404040;
    padding: 19px 20px 24px;
  }
  .mobilefooter .row:nth-child(1) {
    margin-bottom: 29px;
  }
  .mobilefooter .row:nth-child(2) {
    margin-bottom: 40px;
  }
  .mobile a {
    color: white;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.5px;
  }

  .verticalLine{
    border-right: 1px solid white;
    height: 142px;
    margin-top: 5%;
    margin-right: 2%;
    margin-left: 3%
  }

  .verticalLineRight{
    border-right: 1px solid white;
    height: 142px;
    margin-top: 5%;
    margin-right: 2%;
    margin-left: 1%;
  }



.mobile-view-icons{
  
    display: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    font-weight: 500;
    margin-top: 1%;
  
}
